{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Your Profile | Chizi Fashion</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800;900&display=swap" rel="stylesheet">   
</head>
<body>

    <div class="main-wrapper">
        <div class="logo-side">
            <img src="{% static 'images/RAMYA5.jpeg' %}" alt="Logo" class="brand-img-logo">
            
            <div class="welcome-text">
                <span class="line1">Complete Your</span>
                <span class="line2">Profile</span>
            </div>
        </div>

        <div class="form-container">
            <h2>Final Steps</h2>
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-fields">
                    {{ form.as_p }}
                </div>

                <button type="submit">SAVE & START</button>
            </form>

            <div class="form-footer">
                <p>Ensuring your fashion vibe is ready.</p>
            </div>
        </div>
    </div>

</body>
</html>